<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
		<link th:href="@{/css/styles.css}" rel="stylesheet"/>
		<script src="https://d3js.org/d3.v6.min.js"></script>
		<title>Versions</title>
	</head>
	<body>
		<div class="w3-top">
			<div class="w3-bar w3-theme w3-top w3-left-align w3-large">
				<a href="/home" class="w3-bar-item w3-button w3-hide-small w3-hover-white"><img src="/images/Data12.jpeg" style="width: 24px;"/></a>
		    	<a href="/searchDisorder" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Search Disorders</a>
		    	<a href="/searchGene" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Search Genes</a>
		    	<a href="/searchPhenotype" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Search Phenotypes</a>
		    	<a href="/versions" class="w3-bar-item w3-button w3-theme-l1">Versions</a>
		  	</div>
		</div>	
		<div style="position: relative; top: 40px; left: 20px;">
			<h1>Versions</h1>
			<h3>Comprobar version nueva Orphanet</h3>
			<div>
			<h4>Version nueva disponible!</h4><button type="button">Actualizar</button>
			</div>
			<h3>Comprobar version nueva ICD11</h3><button type="button">Check</button>
			<h3>Comprobar version nueva HPO</h3><button type="button">Check</button>
		</div>
	</body>
</html>