<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
		<link th:href="@{/css/styles.css}" rel="stylesheet"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<script src="https://d3js.org/d3.v6.min.js"></script>
		<link rel="icon" type="image/png" href="/images/Data12.jpeg">
		<title th:if="${entity == null}">Search</title>
		<title th:if="${entity != null}">[[${entity.name}]]</title>
	</head>
	<body>
		<div>Error interno:</div>
		<div>[[${error}]]</div>
	</body>
</html>