<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<body>
		<div class="graph" th:fragment="forceHierarchySimulation">
			<svg id="hierarchySimulationSVG" class="graph-visualization"></svg>
			<div id="hierarchySimulationDisorderDiv" class="details-div">
				<div id="disorderName" class="details-title"></div>
				<div class="titulo">OrphaCode</div>
				<div id="disorderOrphaCode" class="details-value"></div>
				<div class="titulo">Type</div>
				<div id="disorderType" class="details-value"></div>
				<div class="titulo">Group</div>
				<div id="disorderGroup" class="details-value"></div>
			</div>
			<div id="hierarchySimulationGeneDiv" class="details-div">
				<div id="geneRelType" class="details-orphaCode"></div>
				<div id="geneName" class="details-title"></div>
				<div class="titulo">Symbol</div>
				<div id="geneSymbol" class="details-value"></div>
				<div class="titulo">Type</div>
				<div id="geneType" class="details-value"></div>
				<div class="titulo">Locus</div>
				<div id="geneGroup" class="details-value"></div>
				<div class="titulo">Status</div>
				<div id="geneStatus" class="details-value"></div>
			</div>
			<div id="hierarchySimulationPhenotypeDiv" class="details-div">
				<div id="phenotypeTerm" class="details-title"></div>
				<div class="titulo">HPOId</div>
				<div id="phenotypeHPOId" class="details-value"></div>
				<div id="phenotypeCriteriaDiv">
					<div class="titulo">Criteria</div>
					<div id="phenotypeCriteria" class="details-value"></div>
				</div>
				<div id="phenotypeFrequencyDiv">
					<div class="titulo">Frequency</div>
					<div id="phenotypeFrequency" class="details-value"></div>
				</div>
			</div>
		</div>
		<div class="graph" th:fragment="forceGenesSimulation">
			<div th:text="${gene}"></div>
			<svg id="geneSimulationSVG" class="graph-visualization"></svg>
			<div id="geneSimulationDisorderDiv" class="details-div">
				<div id="geneDisorderName" class="details-title"></div>
				<div class="titulo">OrphaCode</div>
				<div id="geneDisorderOrphaCode" class="details-value"></div>
				<div class="titulo">Type</div>
				<div id="geneDisorderType" class="details-value"></div>
				<div class="titulo">Group</div>
				<div id="geneDisorderGroup" class="details-value"></div>
				<div class="titulo">Gene relationship Status</div>
				<div id="geneDisorderRelStatus" class="details-value"></div>
				<div class="titulo">Gene Relationship Type</div>
				<div id="geneDisorderRelType" class="details-value"></div>
			</div>
			<div id="geneSimulationGeneDiv" class="details-div">
				<div id="geneGeneName" class="details-title"></div>
				<div class="titulo">Symbol</div>
				<div id="geneGeneSymbol" class="details-value"></div>
				<div class="titulo">Type</div>
				<div id="geneGeneType" class="details-value"></div>
				<div class="titulo">Locus</div>
				<div id="geneGeneGroup" class="details-value"></div>
			</div>
		</div>
	</body>
</html>